.location {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  height: 200px;
  margin: 20px;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.location:hover {
  border: 1px solid #163760;
}

.info {
  margin-top: 20px;
}

.buttonContainer {
  flex-grow: 1;
  display: flex;
  margin-bottom: auto;
  justify-content: center;
}

.button {
  background-color: black;
  color: white;
  border-radius: 8px;
  font-weight: bolder;
  align-self: flex-end;
  margin-bottom: 20px;
  padding: 8px;
}

.name {
  font-weight: bolder;
  height: 45px;
}
